*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#f6f6f6;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
color:white;
position:absolute;
width:100%;
z-index:2;
}
li a{
    text-decoration: none;
    color: white;
}
nav ul{
display:flex;
list-style:none;
gap:25px;
}

.logo{
display: flex;
font-weight:600;
font-size:24px;
}

.clc{
    margin-top: 65px;
    margin-left: 10px;
}


.hero{
height:600px;
background: url(../../../assets/images/banner.jpg) center/cover no-repeat;
display:flex;
align-items:center;
justify-content:space-between;
padding:80px;
color:white;
position:relative;
}

.hero::before{
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.3);
}

.hero-text{
position:relative;
max-width:400px;
}

.hero-text h1{
font-size:50px;
margin-bottom:10px;
}

.visit-btn{
position:relative;
border:2px solid white;
width:140px;
height:140px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
}



.about{
text-align:center;
padding:80px 20px;
}

.about h2{
font-size:34px;
max-width:700px;
margin:auto;
}

.about span{
color:#e0b84a;
}

.about-text{
margin-top:20px;
color:#666;
max-width:700px;
margin-left:auto;
margin-right:auto;
}



.cards{
display:flex;
justify-content:center;
gap:30px;
padding:50px;
flex-wrap:wrap;
}

.card{
width:260px;
height:300px;
background:white;
border-radius:20px;
padding:25px;
box-shadow:0 10px 20px rgba(0,0,0,0.1);
display:flex;
flex-direction:column;
justify-content:center;
}

.card h3{
margin-bottom:10px;
}

.card p{
font-size:14px;
color:#666;
margin-bottom:15px;
}

.card button{
border:none;
background:#222;
color:white;
padding:10px;
border-radius:6px;
cursor:pointer;
}



.mission{
display:flex;
align-items:center;
justify-content:space-between;
background:linear-gradient(90deg,#7fa1d6,#4e6da5);
color:white;
padding:80px;
border-radius:40px;
margin:40px;
}

.mission-text{
max-width:400px;
}

.mission-text h2{
font-size:36px;
margin:10px 0;
}

.mission-text p{
color:#eaeaea;
}

.mission-image{
width:400px;
height:300px;
background:url(../../../assets/images/cong.jpg) center/cover;
border-radius:20px;
}